.listItem {
    display: flex;
    border-radius: var(--shape-border-radius);
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.08);
    background-color: var(--white);
    margin-bottom: .5rem;
    padding: 1rem 1.2rem;
    font-family: var(--font-body);
    font-weight: 500;
}

.listItemAlt > * {
    opacity: .3;
    transition: opacity .3s ease-in-out;
}

.listItemAltActive:hover,
.listItemAltActive:focus,
.listItemAlt:hover > *,
.listItemAlt:focus > *,
.listItemActive > * {
    opacity: 1;
}

.listItemAlt {
    composes: listItem listItemAltActive;
    margin-top: 1rem;;
    flex-direction: column;
    transition: opacity .2s ease-in-out;
}

.listItemInactive {
    composes: listItemAlt;
    opacity: 0.5;
}

.listItemActive {
    composes: listItemAlt;
    opacity: 1;
}