.message {
    position: relative;
}

.messageIllustration {
    composes: message;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-bottom: 15vh;
}

.messageIllustration img {
    margin-left: 1rem;
}

.messageIllustration p {
    margin-top: -2rem;
    text-align: center;
    margin-bottom: 0;
}