*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --font-body: ubuntu, sans-serif;
  --font-header: ubuntu, sans-serif;
  --primary-color: #FF6A81;
  --black: #232323;
  --white: #ffffff;
  --gray-20: #f4f4f4;
  --gray-40: #e8e8e8;
}

body,
#root {
  margin: 0;
  height: 100vh;
}

#root > div {
  display: flex;
  height: 100vh;
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6,
button, label {
  font-weight: 700;
}
